<manifest package="io.flutter.plugins.webviewflutter"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="remote_webview.RemoteApplication"
        android:theme="@android:style/Theme.Translucent.NoTitleBar">
        <activity android:name="remote_webview.RemoteZygoteActivity"
            android:launchMode="singleTask"
            android:theme="@style/ZygoteActivityTheme"
            android:process=":remote.web"/>
        <service android:name="remote_webview.service.RemoteWebService"
                android:process=":remote.web"/>
        <service android:name="remote_webview.service.MainWebService" />

    </application>
</manifest>
