<manifest package="io.flutter.plugins.webviewflutter"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
        <service android:name="remote_webview.service.RemoteWebService"
                android:process=":remote.web"/>
        <service android:name="remote_webview.service.MainWebService"/>

    </application>
</manifest>
